<VirtualHost *:80>
ServerName demo.onwardworkspaces.com
ServerAlias www.demo.onwardworkspaces.com
ErrorLog ${APACHE_LOG_DIR}/error.log
CustomLog ${APACHE_LOG_DIR}/access.log combined
DocumentRoot /var/www/onward
</VirtualHost>


DocumentRoot /var/www/onward
<Directory "/var/www/onward/">
   Options Indexes FollowSymLinks
   AllowOverride all
   Require all granted
</Directory>

<VirtualHost *:80>
ServerName demo.onwardworkspaces.com
ServerAlias www.demo.onwardworkspaces.com
ErrorLog ${APACHE_LOG_DIR}/error.log
CustomLog ${APACHE_LOG_DIR}/access.log combined
Redirect / https://demotest.onwardworkspaces.com/
</VirtualHost>

<VirtualHost *:443>
ServerName demotest.onwardworkspaces.com
ServerAlias www.demotest.onwardworkspaces.com
ErrorLog ${APACHE_LOG_DIR}/error.log
CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
