<VirtualHost *:80>
ServerName demobackend.onwardworkspaces.com
ServerAlias www.demobackend.onwardworkspaces.com
DocumentRoot /var/www/onward_a
ErrorLog ${APACHE_LOG_DIR}/error.log
CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

<VirtualHost *:443>
ServerName demobackend.onwardworkspaces.com
ServerAlias www.demobackend.onwardworkspaces.com
ErrorLog ${APACHE_LOG_DIR}/error.log
CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
